/* opentrophy embedding mode support */

#otDashboardBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
  z-index: 98; /*over the all content*/
}

#otDashboardContainer {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  margin: 0;
  padding: 0;
  box-shadow: 2px 2px 4px #000;
  z-index: 99; /*over the otDashboardBackdrop*/
}

@media only screen and (min-width:768px) and (max-width: 991px) {
  #otDashboardContainer {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    box-shadow: 3px 3px 6px #000;
  }
}

@media only screen and (min-width: 992px) {
  #otDashboardContainer {
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    box-shadow: 5px 5px 10px #000;
  }
}

#otDashboardCloser {
  position: absolute;
  top: -.75em;
  right: -.75em;
  width: 2em;
  height: 2em;
  background: transparent center url(../img/closer.png);
  /*
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  */
  cursor: pointer;
  z-index: 99; /*over the otDashboardFrame*/
}

#otDashboardFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  overflow: hidden;
}

.otDashboardOpener {
  display: inline-block;
  width: 64px;
  height: 64px;
  background: transparent center url(../img/opentrophy.png);
}

.otLeaderboardsOpener {
  display: inline-block;
  width: 64px;
  height: 64px;
  background: transparent center url(../img/leaderboards.png);
}

.otAchievementsOpener {
  display: inline-block;
  width: 64px;
  height: 64px;
  background: transparent center url(../img/achievements.png);
}

